* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************** Header Anfang *****************/
header {
}

nav {
  color: red;
}

#hero-section {
}

/*************** Header Ende *****************/

#our_story-section {
}
#watch-section {
}
#expertise-section {
}
#team-section {
}
#contact_client-section {
}
footer {
}
